<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" type="text/css"	th:href="@{/css/estilos.css}" />
<link th:rel="stylesheet" type="text/css"	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
<meta charset="UTF-8">
<title>cliente</title>
</head>
<body>

<div class="container">
<div th:insert="layouts/header :: header"></div>

<h1>Formulario de Carga de Cliente</h1>
	<form id="formProducto" th:object="${unCliente}" th:action="${editMode}?@{/cliente/modificar}:@{/cliente/guardar}" method="post">
		<input type="hidden" th:field="*{idCliente}"th:if="${editMode}">
		
		<div class="form-group row">
		<label for="tipo" class="col-sm-2 col-form-label">Tipo de Documento</label>
		<div class="col-sm-10">
			<select id="tipo" th:field="*{tipoDoc}" class="form-control">
				<option value="DNI">DNI</option>
				<option value="Pasaporte">Pasaporte</option>
			</select>
		</div>
		</div>
		
		<div class="form-group row">
		<label for="nomAp" class="col-sm-2 col-form-label">Nombre y Apellido</label>
		<div class="col-sm-10"> 
			<input type="text"	id="nomAP" th:field="*{nombreApellido}" class="form-control">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreApellido')}" th:errors="*{nombreApellido}">Name	Error</div>
		</div>
		</div>
		
		<div class="form-group row">
		<label for="con" class="col-sm-2 col-form-label">Contraseña</label>
		<div class="col-sm-10"> 
			<input type="password"	id="con" th:field="*{password}" class="form-control">
		</div>
		</div>
		
		<div class="form-group row">
			<label for="numdoc" class="col-sm-2 col-form-label">Documento</label> 
			<div class="col-sm-10"> 
			<input type="number"	id="numdoc" th:field="*{numeroDoc}" class="form-control">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('numeroDoc')}" th:errors="*{numeroDoc}">Name	Error</div>
		</div>
		</div>
		
		<div class="form-group row">
			<label for="fechanac" class="col-sm-2 col-form-label">Nacimiento</label>			
			<div class="col-sm-10"> 
			<input type="date"	id="fechanac" th:field="*{fechaNac}" class="form-control">
		</div>
		</div>
		
		<div class="form-group row">
			<label for="codigo" class="col-sm-2 col-form-label">Cod Area</label> 
			<div class="col-sm-10"> 
			<input type="number" id="codigo" th:field="*{codigoAreaTelef}" class="form-control">		
		</div>
		</div>
		
		<div class="form-group row">
			<label for="numtel" class="col-sm-2 col-form-label">Telefono</label> 
			<div class="col-sm-10"> 
			<input type="number" id="numtel" th:field="*{numTelefono}" class="form-control">		
		</div>
		</div>
		
		<div class="form-group row">
			<label for="email" class="col-sm-2 col-form-label">Email</label> 
			<div class="col-sm-10"> 
			<input type="email" id="email" th:field="*{email}" class="form-control">
		</div>
		</div>

        <div class="form-group row">
			<label for="fechaultima" class="col-sm-2 col-form-label">Ultima Compra</label>			
			<div class="col-sm-10"> 
			<input type="date"	id="fechaultima" th:field="*{fechaUltCom}" class="form-control">
		</div>
		</div>
		
		<!--<button class="btn btn-secondary" type="submit" value="Agregar">Agregar</button> -->
		    <input type="submit" class="btn btn-success btn-block" th:value="${editMode}?'Modificar Cliente':'Crear Cliente'">

	</form>

<!-- ---------------------------------------------------------------- -->

<h3>Lista de Clientes</h3><br>
			<div class="table-responsive">
				<table class="table">
				<thead class="thead-light">
				    <tr>
				      <th>Nombre y Apellido</th>
				      <th>Contraseña</th>
				      <th>Num Doc</th>
				      <th>Fecha Nac</th>
				      <th>Tipo Doc</th>
				      <th>Codigo Tel</th>
				      <th>Telefono</th>
				      <th>Codigo - Telefono</th>
				      <th>Email</th>
				      <th>Edad</th>
				      <th>Datos Adicionales</th>			      
				    </tr>
				    </thead>
				    
				    <tr th:if="${clientes.empty}">
            		<td colspan="12"> No se encuentran clientes en el listado</td>
        		    </tr>
					
					<tr th:each="cli : ${clientes}">
					    <td class="columna" th:text="${cli.nombreApellido}"></td>
					    <td th:text="${cli.password}"></td>
						<td th:text="${cli.numeroDoc}"></td>
						<td th:text="${#temporals.format(cli.fechaNac,'dd/MM/yyyy')}"></td>
						<td th:text="${cli.tipoDoc}"></td>
						<td th:text="${cli.codigoAreaTelef}"></td>
						<td th:text="${cli.numTelefono}"></td>
						<td th:text="${cli.codigoAreaTelef}+' - ' +${cli.numTelefono}"></td>
						<td th:text="${cli.email}"></td>
						<td th:text="${cli.edad}"></td>
						<td th:text="' TiempCump: ' + ${cli.THC}"></td>
						
						<td>
						<a href="#" th:href="@{'/cliente/editar/'+${cli.numeroDoc}}">
						<i class="fa fa-edit"></i></a>
						
						<a th:onclick="'javascript:confirmarEliminar(\''+${cli.numeroDoc}+'\');'">
						<i class="fa fa-trash-alt"></i></a>
						</td>
					</tr>
				</table>
			</div>
			
			<!--Modal Eliminar-->
			
			<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog"
			aria-labelledby="eliminarModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarModalTitulo">Confirmar
							Eliminar</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h6>Seguro que quiere elminar este cliente?</h6>
					</div>
					<input type="hidden" id="identificadorCliente"
						name="clienteId" />
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary"
							th:onclick="eliminarCliente()">Eliminar Cliente</button>
					</div>
				</div>
			</div>
		</div>

  </div>			

<div th:insert="layouts/footer :: footer"></div>

<script type="text/javascript">
		function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorCliente").val(id);
		}

		function eliminarCliente() {
			var id = $("#identificadorCliente").val();
			window.location = "eliminarCliente/" + id;
		}
	</script>	

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"		type="text/javascript"		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>